        @font-face {
            font-family: "ProductSans";
            src: url("../FONT/ProductSans-Bold.ttf");
            font-style: normal;
            font-weight: bold;
        }

        @font-face {
            font-family: "ProductSans";
            src: url("../FONT/ProductSans-Light.ttf");
            font-style: normal;
            font-weight: lighter;
        }

        @font-face {
            font-family: "ProductSans";
            src: url("../FONT/ProductSans-Medium.ttf");
            font-style: normal;
            font-weight: Medium;
        }

        @font-face {
            font-family: "Manrope-VariableFont_wght";
            src: url("../FONT/Manrope-VariableFont_wght.ttf");
            font-style: normal;
            font-weight: normal;
        }

        @font-face {
            font-family: "Manrope-VariableFont_wght";
            src: url("../FONT/Manrope-VariableFont_wght.ttf");
            font-style: italic;
            font-weight: lighter;
        }

        @font-face {
            font-family: "Manrope-VariableFont_wght";
            src: url("../FONT/Manrope-VariableFont_wght.ttf");
            font-style: normal;
            font-weight: bold;
        }

        @font-face {
            font-family: "Manrope-VariableFont_wght";
            src: url("../FONT/Manrope-VariableFont_wght.ttf");
            font-style: normal;
            font-weight: bolder;
        }

        @font-face {
            font-family: "WorkSans-VariableFont_wght";
            src: url("../FONT/WorkSans-VariableFont_wght.ttf");
            font-style: normal;
            font-weight: 200px;
        }

        @font-face {
            font-family: "WorkSans-VariableFont_wght";
            src: url("../FONT/WorkSans-VariableFont_wght.ttf");
            font-style: normal;
            font-weight: normal;
        }

        @font-face {
            font-family: "WorkSans-VariableFont_wght";
            src: url("../FONT/WorkSans-VariableFont_wght.ttf");
            font-style: normal;
            font-weight: bolder;
        }

        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }
        /*Menu*/

        .Menu {
            position: fixed;
            top: 0px;
            left: 0px;
            right: 0px;
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            height: 110px;
            background-color: white;
            align-content: center;
        }

        .Menu-item a {
            color: #3e3e3e;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "ProductSans", sans-serif;
            font-weight: 100;
            font-size: 13px;
        }

        .Menu-item a:link {
            color: #C32908;
        }

        .Menu img {
            margin-top: 20px;
            margin-bottom: 20px;
            margin-left: 200px;
        }

        .Menu-item {
            display: flex;
            flex-flow: wrap;
            justify-content: space-between;
            list-style: none;
            margin-top: 40px;
            margin-right: 120px;
        }

        .Menu-item-elemento {
            padding: 10px;
            color: black;
        }

        .Menu-item-elemento :hover {
            color: #C32908;
            font-weight: bold;
            text-decoration: underline;
        }
        /*Slide*/

        .Slide {
            background-image: url(../IMG/kcv-slide.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 550px;
            display: flex;
            flex-flow: wrap column;
            justify-content: start;
            padding: 170px 200px;
            margin-top: 50px;
        }

        .Titulo {
            font-size: 12px;
            font-family: "ProductSans";
            color: #ffff;
            letter-spacing: 2px;
            background-color: #C32908;
            padding: 5px;
            width: 100px;
            text-align: center;
        }

        .subtitulo {
            font-size: 70px;
            font-family: "ProductSans";
            font-weight: bold;
            line-height: 60px;
            color: #ffff;
            padding-top: 20px;
        }
        /*Servicio*/

        .servicios {
            background-color: #efeded;
            padding: 90px;
        }

        .Tituloservicios {
            font-size: 15px;
            font-family: "ProductSans";
            font-weight: 300;
            letter-spacing: 3px;
            color: rgb(49, 49, 49);
            text-align: center;
        }

        .subtituloservicios {
            font-family: "ProductSans";
            font-weight: 700px;
            font-size: 45px;
            letter-spacing: 1px;
            color: black;
            text-align: center;
        }

        .servicio-parrafo {
            width: 300px;
            font-family: "WorkSans-VariableFont_wght";
            font-weight: lighter;
            font-size: 14px;
            text-align: justify;
            color: rgb(49, 49, 49);
        }

        .servicios-imagenes {
            display: flex;
            flex-flow: wrap row;
            align-items: center;
            justify-content: space-around;
            height: 200px;
            padding-top: 50px;
            padding: 0px 100px;
            margin-top: 50px;
        }

        .servicios-h3 {
            font-size: 16px;
            font-family: "ProductSans";
            width: 200px;
            margin-bottom: 7px;
        }

        .servicios-imagenes img {
            margin-right: 20px;
            margin-bottom: 20px;
            width: 26px;
            height:auto;
        }
        /*Parallax*/

        .parallax {
            background-image: url(../IMG/paralax.jpg);
            height: 400px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: wrap column;
            align-items: center;
        }

        .textoparallax {
            font-size: 30px;
            font-family: "Manrope-VariableFont_wght";
            font-weight: 200px;
            padding-top: 100px;
            color: #fff;
            text-align: center;
            width: 700px;
        }
        /*Proyecto*/

        .tituloproyecto {
            font-size: 15px;
            font-family: "ProductSans";
            font-weight: 300;
            letter-spacing: 3px;
            color: rgb(49, 49, 49);
            padding-top: 90px;
            text-align: center;
        }

        .subtituloproyecto {
            font-size: 40px;
            font-family: "ProductSans";
            font-weight: bold;
            letter-spacing: 1px;
            color: black;
            text-align: center;
            padding-bottom: 50px;
        }

        .proyecto-grid-gallery {
            display: grid;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(4, 1fr);
            gap: 5px;
            padding: 0px 50px;
            margin-bottom: 50px;
        }

        .proyecto-grid-gallery .img-box {
            position: relative;
        }

        .proyecto-grid-gallery .img-box img {
            border-radius: 3px;
            width: 340px;
            height: 340px;
            opacity: 0.7;
        }
        .proyecto-grid-gallery .img-box img:hover {
transform: scale(1.1);
opacity: 1;
transition: all 1.2s;

        }

        .btn-proyectos {
            font-family: "ProductSans";
            font-size: 12px;
            letter-spacing: 2px;
            background-color: #C32908;
            color: white;
            border-radius: 10px;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
            align-content: center;
            margin: 0 650px;
            padding: 10px 20px;
            margin-bottom: 110px;
        }

        .btn-proyectos a {
            color: #fff;
            text-decoration: none;
        }
        /*footer*/

        .piedepagina {
            background-color: rgb(19, 19, 19);
            padding: 100px;
        }

        .piedepagina-subtitulo {
            font-size: 40px;
            font-family: c;
            font-weight: bold;
            font-family: "ProductSans";
            color: #fff;
            text-align: center;
            padding-bottom: 50px;
        }

        .piedepagina-cuerpo {
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            align-content: center;
            padding: 0 110px;
        }

        .piedepagina-cuerpo p {
            color: #ffffff;
            margin-bottom: 10px;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 15px;
            font-weight: lighter;
            margin-top: 10px;
        }

        .piedepagina-cuerpo a {
            color: #fff;
            text-decoration: none;
        }

        .piedepagina-mapa {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-content: center;
            margin-top: 50px;
        }
        /* ---------------------LA EMPRESA--------------*/

        .laempresa {
            background-color: #f0f1f5;
            height: 600 px;
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            padding: 20px;
            margin-top: 60px;
            padding-left: 100px;
        }

        .laempresa img {
            margin-right: 50px;
            margin-top: 50px;
            margin-bottom: 30px;
            width:550px;
            height:400px;
        }

        .laempresa-texto {
            padding-top: 50px;
        }

        .laempresa-texto p {
            font-family: "WorkSans-VariableFont_wght";
            font-size: 13px;
            text-align: justify;
            font-weight: lighter;
            line-height: 20px;
            color: rgb(52, 52, 52);
            margin-left: 20px;
            margin-top: 20px;
            width: 600px;
        }

        .laempresa-texto h2 {
            font-family: "ProductSans";
            font-weight: bolder;
            font-size: 20px;
            color: #C32908;
            margin-left: 20px;
            margin-top: 30px;
        }
        /* MISION - VISION */

        .visionmision {
            background-color: #ffffff;
            height: 300px;
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 200px;
            padding-right: 200px;
            padding-top: 80px;
        }

        .mision p {
            width: 500px;
            text-align: justify;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 13px;
            font-weight: lighter;
            line-height: 17px;
            color: rgb(52, 52, 52);
        }

        .visionmision h2 {
            font-family: "ProductSans";
            font-weight: bold;
            font-size: 18px;
            color: #C32908;
            margin-bottom: 10px;
        }
        /* VALORES */

        .valores {
            background-image: url(../IMG/Fondo\ valores.png);
            height: 600px;
            display: flex;
            flex-flow: wrap row;
            justify-content: start;
            justify-items: center;
            align-items: center;
        }

        .valores img {
            margin-top: 0px;
            margin-right: 70px;
            width:600px;
            height:550;
        }

        .valores h2 {
            margin-top: 50px;
            font-family: "ProductSans";
            font-weight: bold;
            font-size: 20px;
            color: #E9E9E9;
        }

        .valores-texto {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            justify-items: center;
            font-family: "WorkSans-VariableFont_wght";
        }

        .valores-items p {
            width: 300px;
            text-align: justify;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 14px;
            font-weight: lighter;
            line-height: 19px;
            color: #fff;
            padding-left: 0px;
            padding-top: 50px;
            margin-right: 50px;
        }

        .valores-items-elementos p {
            width: 300px;
            text-align: justify;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 14px;
            font-weight: lighter;
            line-height: 19px;
            color: #fff;
            padding-top: 50px;
        }

        .valores-items-elementos {
            margin-top: 70px;
        }
        /* ---------------- OBRAS Y SERVICIOS --------------*/

        .obras-servicios {
            background-image: url(../IMG/Ftorevista3-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 600px;
        }

        .obras-servicios-h2 {
            color: #fff;
            padding-top: 90px;
            font-family: "ProductSans";
            font-size: 20px;
            margin-bottom: 10px;
        }

        .obras-servicios-h1 {
            color: #fff;
            padding-top: 40px;
            font-family: "ProductSans";
            font-size: 20px;
            margin-bottom: 10px;
        }

        .obras-servicios-ul {
            background-color: #C32908;
            color: #fff;
            width: 500px;
            height: 600px;
            padding-top: 200px;
            margin-left: 150px;
            display: flex;
            flex-flow: wrap column;
            justify-content: start;
            padding: 50px 50px;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 15px;
            margin-bottom: 30px;
        }

        .obras-servicios-ul il {
            padding-bottom: 10px;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 50px;
        }

        .container-grid-galery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 50px;
        }

        .container-grid-galery .img-boxob img {
            border-radius: 2px;
            padding-bottom: 10px;
            width: 600px;
            height: 300px;
        }

        .container-grid-galery span {
            color: #C32908;
        }

        .container-grid-galery p {
            width: 500px;
        }
        /* ---------------- CLIENTES --------------*/

        .clientes {
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            height: 630px;
            padding-left: 150px;
            padding-right: 150px;
            margin-top: 100px;
            background-color: #f4f3f3;
            align-content: center;
        }

        .clientes-texto {
            width: 350px;
        }

        .clientes-texto h1 {
            color: #C32908;
            font-family: "ProductSans";
            font-size: 35px;
            margin-bottom: 10px;
        }

        .clientes-texto p {
            color: #3e3e3e;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 15px;
            width: 200 px;
        }

        .btn-clientes {
            font-family: "ProductSans";
            font-size: 12px;
            letter-spacing: 2px;
            background-color: #C32908;
            color: #fff;
            border-radius: 10px;
            text-transform: uppercase;
            margin-top: 20px;
            padding: 10px;
            width: 130px;
        }

        .btn-clientes a {
            color: #fff;
            text-decoration: none;
        }

        .btn-clientes :hover {
            font-family: "ProductSans";
            font-size: 12px;
            letter-spacing: 2px;
            background-color: #C32908;
            color: #fff;
            border-radius: 10px;
            text-transform: uppercase;
            margin-top: 20px;
            padding: 10px;
            width: 130px;
        }

        .clientes-logos {
            width: 750px;
        }

        .clientes-logos img {
            width: 170px;
            height: auto;
            margin: 20px 20;
        }
        /* ---------------- CONTACTO --------------*/


        .contacto-cuerpo-mapa{
            margin-top: 100px;
        }

        .contacto-cuerpo {
            margin-top: 0px;
            background-color: rgb(241, 241, 241);
            padding: 30px;
            height: 100px;
           padding-bottom: 160px;
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-content: center;

        }

        .cto-item{
            padding: 0px 70px;
        }

        .texto-cto {
            color: #3e3e3e;
            margin-bottom: 10px;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 15px;
            font-weight: lighter;
            margin-top: 10px;
        }

        .texto-cto a {
            color: #3e3e3e;
            text-decoration: none;
        }

        .contacto-mapa {
            background-color: rgb(241, 241, 241);
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            padding: 10px 50px;

        }
        .mapacont{
            margin-top: 50px;
            width:800px;
            height:350px;
            margin-left: 40px;
        }

        /*form*/

        .form-style-9{
            max-width: 450px;
            background: #FAFAFA;
            padding: 50px 30px;
            margin: 50px auto;
            border-radius: 10px;
            border: 1px solid #2a2a2a;
        }
        .form-style-9 ul{
            padding:0;
            margin:0;
            list-style:none;
        }
        .form-style-9 ul li{
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }
        .form-style-9 ul li  .field-style{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 8px;
            outline: none;
            border: 1px solid #cacaca;

        }.form-style-9 ul li  .field-style:focus{
            box-shadow: 0 0 5px #B0CFE0;
            border:1px solid #B0CFE0;
        }
        .form-style-9 ul li .field-split{
            width: 49%;
        }
        .form-style-9 ul li .field-full{
            width: 100%;
        }
        .form-style-9 ul li input.align-left{
            float:left;
        }
        .form-style-9 ul li input.align-right{
            float:right;
        }
        .form-style-9 ul li textarea{
            width: 100%;
            height: 100px;
        }
        .form-style-9 ul li input[type="button"],
        .form-style-9 ul li input[type="submit"] {

            background-color: #C32908;
            border: 1px solid#C32908;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            padding: 8px 18px;
            text-decoration: none;
            font: 12px Arial, Helvetica, sans-serif;
        }
        .form-style-9 ul li input[type="button"]:hover,
        .form-style-9 ul li input[type="submit"]:hover {
            background: linear-gradient(to bottom, #C32908 5%, #C32908 100%);
            background-color: #C32908;
        }



        @media screen and (max-width: 768px){


            .Menu {
            position: relative;
            margin-top: 20px;
            display: flex;
            flex-direction: row;
            justify-content: start;
            height: 150px;
            background-color: white;
            align-content: flex-start;
        }

        .Menu-item a {
            color: #3e3e3e;
            text-decoration: none;
            text-transform: uppercase;
            font-family: "ProductSans", sans-serif;
            font-weight: 100px;
            font-size: 13px;
        }

        .Menu-item a:link {
            color: #C32908;
        }

        .Menu img {
            margin-top: 0px;
            margin-bottom: 20px;
            margin-left:10px;
           margin-right: 300px;
        }

        .Menu-item {
            display: flex;
            flex-direction: column;
            justify-content: center;
            list-style: none;
            margin-top: 0px;
            margin-right: 0px;
        }

        .Menu-item-elemento {
            padding: 5px;
            color: black;
        }

        .Menu-item-elemento :hover {
            color: #C32908;
            font-weight: bold;
            text-decoration: underline;
        }
        /*Slide*/

        .Slide {
            background-image: url(../IMG/kcv-slide.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            height: 350px;
            display: flex;
            flex-flow: wrap column;
            justify-content: start;
            padding: 100px 100px;
            margin-top: 10px;
        }

        .Titulo {
            font-size: 10px;
            font-family: "ProductSans";
            color: #ffff;
            letter-spacing: 2px;
            background-color: #C32908;
            padding: 5px;
            width: 90px;
            text-align: center;
        }

        .subtitulo {
            font-size: 50px;
            font-family: "ProductSans";
            font-weight: bold;
            line-height: 60px;
            color: #ffff;
            padding-top: 00px;
        }
        /*Servicio*/

        .servicios {
            background-color: #efeded;
            padding: 10px;
        }

        .Tituloservicios {
            font-size: 10px;
            font-family: "ProductSans";
            font-weight: 300;
            letter-spacing: 3px;
            color: rgb(49, 49, 49);
            text-align: center;
            margin-top: 40px;
        }

        .subtituloservicios {
            font-family: "ProductSans";
            font-weight: 700px;
            font-size: 30px;
            letter-spacing: 1px;
            color: black;
            text-align: center;
        }

        .servicio-parrafo {
            width: 180px;
            font-family: "WorkSans-VariableFont_wght";
            font-weight: lighter;
            font-size: 11px;
            text-align: justify;
            color: rgb(49, 49, 49);
        }

        .servicios-imagenes {
            display: flex;
            flex-flow: wrap row;
            align-items: center;
            justify-content: space-around;
            height: 200px;
            padding: 0px 0px;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        .servicios-h3 {
            font-size: 12px;
            font-family: "ProductSans";
            width: 150px;
            margin-bottom: 7px;
        }

        .servicios-imagenes img {
            margin-right: 20px;
            margin-bottom: 20px;
        }
        /*Parallax*/

        .parallax {
            background-image: url(../IMG/paralax.jpg);
            height: 200px;
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            display: flex;
            flex-flow: wrap column;
            align-items: center;
        }

        .textoparallax {
            font-size: 19px;
            font-family: "Manrope-VariableFont_wght";
            font-weight: 200px;
            padding-top: 70px;
            color: #fff;
            text-align: center;
            width: 500px;
        }
        /*Proyecto*/

        .tituloproyecto {
            font-size: 10px;
            font-family: "ProductSans";
            font-weight: 300;
            letter-spacing: 3px;
            color: rgb(49, 49, 49);
            padding-top: 40px;
            text-align: center;
        }

        .subtituloproyecto {
            font-size: 30px;
            font-family: "ProductSans";
            font-weight: bold;
            letter-spacing: 1px;
            color: black;
            text-align: center;
            padding-bottom: 50px;
        }

        .proyecto-grid-gallery {
            display: grid;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            grid-template-columns: repeat(2, 1fr);
            gap: 10px;
            padding: 0px 75px;
            margin-bottom: 50px;
        }

        .proyecto-grid-gallery .img-box {
            position: relative;
        }

        .proyecto-grid-gallery .img-box img {
            border-radius: 3px;
            width:300px;
            height:300px;
        }

        .btn-proyectos {
            font-family: "ProductSans";
            font-size: 12px;
            letter-spacing: 2px;
            background-color: #C32908;
            color: white;
            border-radius: 10px;
            text-transform: uppercase;
            text-align: center;
            justify-content: center;
            align-content: center;
            margin: 0 300px;
            padding: 10px 20px;
            margin-bottom: 110px;
        }

        .btn-proyectos a {
            color: #fff;
            text-decoration: none;
        }
        /*footer*/

        .piedepagina {
            background-color: rgb(19, 19, 19);
            padding:  20px 0px;
        }

        .piedepagina-subtitulo {
            font-size: 30px;
            font-family: "ProductSans";
            font-weight: bold;
            font-family: "ProductSans";
            color: #fff;
            text-align: center;
            padding-bottom: 50px;
        }

        .piedepagina-cuerpo {
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            align-content: center;
            padding: 0 50px;
        }

        .piedepagina-cuerpo p {
            color: #ffffff;
            margin-bottom: 10px;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 12px;
            font-weight: lighter;
            margin-top: 10px;
        }

        .piedepagina-cuerpo a {
            color: #fff;
            text-decoration: none;
        }

        .piedepagina-mapa {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-content: center;
            margin-top:50px;
            width:1150;
            height:500;

        }

        .mapa{
            width:670px;
            height: auto;
        }
        /* ---------------------LA EMPRESA--------------*/

        .laempresa {
            background-color: #f0f1f5;
            height: 800px;
            display: flex;
           flex-direction: row;
            justify-content: center;
            margin-top: 20px;
            padding: 10px 0px;
        }

        .laempresa img {
            justify-content: center;
            margin-right: 0px;
            margin-top: 0px;
            margin-bottom: 10px;
            width:600px;
            height:400px;
        }

        .laempresa-texto {
            padding-top: 0px;
        }

        .laempresa-texto p {
            font-family: "WorkSans-VariableFont_wght";
            font-size: 12px;
            text-align: justify;
            font-weight: lighter;
            line-height: 20px;
            color: rgb(52, 52, 52);
            margin-left: 20px;
            margin-top: 10px;
            width: 600px;
        }

        .laempresa-texto h2 {
            font-family: "ProductSans";
            font-weight: bolder;
            font-size: 15px;
            color: #C32908;
            margin-left: 20px;
            margin-top: 0px;
        }
        /* MISION - VISION */

        .visionmision {
            background-color: #ffffff;
            height: 250px;
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            align-items: flex-start;
            padding-left: 50px;
            padding-right: 50px;
            padding-top: 30px;
        }

        .mision p {
            width:300px;
            text-align: justify;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 12px;
            font-weight: lighter;
            line-height: 17px;
            color: rgb(52, 52, 52);
        }

        .visionmision h2 {
            font-family: "ProductSans";
            font-weight: bold;
            font-size: 15px;
            color: #C32908;
            margin-bottom: 10px;
        }
        /* VALORES */

        .valores {
           background-image: none;
           background-color: #C32908;
            height: 450px;
            display: flex;
            flex-flow: wrap row;
            justify-content: space-evenly;
            justify-items: center;
            align-items: center;
        }

        .valores img {
            display:none;
            margin-top: 0px;
            margin-right: 40px;

        }

        .valores h2 {
            margin-top: 50px;
            font-family: "ProductSans";
            font-weight: bold;
            font-size: 15px;
            color: #fffefe;
        }

        .valores-texto {
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            justify-items: center;
            font-family: "WorkSans-VariableFont_wght";
        }

        .valores-items p {
            width:250px;
            text-align:left;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 12px;
            font-weight: lighter;
            line-height: 15px;
            color: rgb(255, 255, 255);
            padding-left: 0px;
            padding-top: 40px;
            margin-right: 50px;
        }

        .valores-items-elementos p {
            width:250px;
            text-align:left;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 12px;
            font-weight: lighter;
            line-height: 15px;
            color: rgb(255, 255, 255);
            padding-top: 35px;
        }

        .valores-items-elementos {
            margin-top: 70px;
        }
        /* ---------------- OBRAS Y SERVICIOS --------------*/

        .obras-servicios {
            background-image: url(../IMG/Ftorevista3-1.jpg);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 400px;
        }

        .obras-servicios-h2 {
            color: #fff;
            padding-top: 5px;
            font-family: "ProductSans";
            font-size: 17px;
            margin-bottom: 10px;
        }

        .obras-servicios-h1 {
            color: #fff;
            padding-top: 40px;
            font-family: "ProductSans";
            font-size: 17px;
            margin-bottom: 10px;
        }

        .obras-servicios-ul {
            background-color: #C32908;
            color: #fff;
            width: 500px;
            height: 400px;
            padding-top: 100px;
            margin-left: 150px;
            display: flex;
            flex-flow: wrap column;
            justify-content: start;
            padding: 10px 50px;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 13px;
            margin-bottom: 30px;
        }

        .obras-servicios-ul il {
            padding-bottom: 10px;
        }

        .container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 100px;
            margin-bottom: 50px;
        }

        .container-grid-galery {
            display: grid;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 10px;
        }

        .container-grid-galery .img-boxob img {
            border-radius: 2px;
            padding-bottom: 10px;
            width: 300px;
            height: 150px;
        }

        .container-grid-galery span {
            color: #C32908;
        }

        .container-grid-galery p {
            width: 250px;
        }
        /* ---------------- CLIENTES --------------*/

        .clientes {
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            height: 500px;
            padding-left: 50px;
            padding-right: 50px;
            margin-top: 20px;
            background-color: #f4f3f3;
            align-content: center;
        }

        .clientes-texto {
            width: 350px;
        }

        .clientes-texto h1 {
            color: #C32908;
            font-family: "ProductSans";
            font-size: 35px;
            margin-top: 20px;
            margin-bottom: 10px;
        }

        .clientes-texto p {
            color: #3e3e3e;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 15px;
            width: 500px;
        }

        .btn-clientes {
            font-family: "ProductSans";
            font-size: 12px;
            letter-spacing: 2px;
            background-color: #C32908;
            color: #fff;
            border-radius: 10px;
            text-transform: uppercase;
            margin-top: 20px;
            margin-bottom: 30px;
            padding: 10px;
            width: 130px;
        }

        .btn-clientes a {
            color: #fff;
            text-decoration: none;
        }

        .btn-clientes :hover {
            font-family: "ProductSans";
            font-size: 12px;
            letter-spacing: 2px;
            background-color: #C32908;
            color: #fff;
            border-radius: 10px;
            text-transform: uppercase;
            margin-top: 20px;
            padding: 10px;
            width: 130px;
        }

        .clientes-logos {
            width: 750px;
        }

         .clientes-logos img {
            width: 110px;
            height: auto;
            margin: 10px 10px;
        }
        /* ---------------- CONTACTO --------------*/




        .contacto-cuerpo-mapa{
            margin-top: 0px;
        }

        .contacto-cuerpo {
            margin-top: 0px;
            background-color: rgb(241, 241, 241);
            padding: 30px;
            height: 40px;
           padding-bottom: 50px;
            display: flex;
            flex-flow: wrap row;
            justify-content: center;
            align-content: center;

        }

        .cto-item{
            padding: 0px 20px;
        }

        .texto-cto {
            color: #3e3e3e;
            margin-bottom: 10px;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 12px;
            font-weight: lighter;
            margin-top: 10px;
        }

        .texto-cto a {
            color: #3e3e3e;
            text-decoration: none;
        }

        .contacto-mapa {
            background-color: rgb(241, 241, 241);
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            padding: 0px 50px;


        }
        .mapacont{
            display: none;
            margin-top: 50px;
            width:800px;
            height:350px;
            margin-left: 40px;
        }



        /*form*/

        .form-style-9{
            max-width: 450px;
            background: #FAFAFA;
            padding: 50px 30px;
            margin: 50px auto;
            border-radius: 10px;
            border: 1px solid #2a2a2a;
        }
        .form-style-9 ul{
            padding:0;
            margin:0;
            list-style:none;
        }
        .form-style-9 ul li{
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }
        .form-style-9 ul li  .field-style{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 8px;
            outline: none;
            border: 1px solid #cacaca;

        }.form-style-9 ul li  .field-style:focus{
            box-shadow: 0 0 5px #B0CFE0;
            border:1px solid #B0CFE0;
        }
        .form-style-9 ul li .field-split{
            width: 49%;
        }
        .form-style-9 ul li .field-full{
            width: 100%;
        }
        .form-style-9 ul li input.align-left{
            float:left;
        }
        .form-style-9 ul li input.align-right{
            float:right;
        }
        .form-style-9 ul li textarea{
            width: 100%;
            height: 100px;
        }
        .form-style-9 ul li input[type="button"],
        .form-style-9 ul li input[type="submit"] {

            background-color: #C32908;
            border: 1px solid#C32908;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            padding: 8px 18px;
            text-decoration: none;
            font: 12px Arial, Helvetica, sans-serif;
        }
        .form-style-9 ul li input[type="button"]:hover,
        .form-style-9 ul li input[type="submit"]:hover {
            background: linear-gradient(to bottom, #C32908 5%, #C32908 100%);
            background-color: #C32908;
        }



        }


        @media screen and (max-width: 480px){


            .Menu {
                position: relative;
                margin-top: 20px;
                display: flex;
                flex-direction: row;
                justify-content: start;
                height: 150px;
                background-color: white;
                align-content: flex-start;
            }

            .Menu-item a {
                color: #3e3e3e;
                text-decoration: none;
                text-transform: uppercase;
                font-family: "ProductSans", sans-serif;
                font-weight: 100px;
                font-size: 13px;
            }

            .Menu-item a:link {
                color: #C32908;
            }

            .Menu img {
                margin-top: 0px;
                margin-bottom: 20px;
                margin-left:10px;
               margin-right: 85px;
            }

            .Menu-item {
                display: flex;
                flex-direction: column;
                justify-content: center;
                list-style: none;
                margin-top: 0px;
                margin-right: 0px;
            }

            .Menu-item-elemento {
                padding: 5px;
                color: black;
            }

            .Menu-item-elemento :hover {
                color: #C32908;
                font-weight: bold;
                text-decoration: underline;
            }
            /*Slide*/

            .Slide {
                background-image: url(../IMG/kcv-slide.jpg);
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
                height: 250px;
                display: flex;
                flex-flow: wrap column;
                justify-content: start;
                padding: 50px 50px;
                margin-top: 10px;
            }

            .Titulo {
                font-size: 10px;
                font-family: "ProductSans";
                color: #ffff;
                letter-spacing: 2px;
                background-color: #C32908;
                padding: 5px;
                width: 90px;
                text-align: center;
            }

            .subtitulo {
                font-size: 45px;
                font-family: "ProductSans";
                font-weight: bold;
                line-height:40px;
                color: #ffff;
                padding-top: 10px;
            }
            /*Servicio*/

            .servicios {
                background-color: #efeded;
                padding: 10px;
               flex-direction: column;
               justify-content: center;
               align-items: center;
            }

            .Tituloservicios {
                font-size: 10px;
                font-family: "ProductSans";
                font-weight: 300;
                letter-spacing: 3px;
                color: rgb(49, 49, 49);
                text-align: center;
                margin-top: 40px;
            }

            .subtituloservicios {
                font-family: "ProductSans";
                font-weight: 700px;
                font-size: 30px;
                letter-spacing: 1px;
                color: black;
                text-align: center;
            }

            .servicio-parrafo {
                width: 300px;
                font-family: "WorkSans-VariableFont_wght";
                font-weight: lighter;
                font-size: 9px;
                text-align: center;
                color: rgb(49, 49, 49);

            }

            .servicios-imagenes {
                display: flex;
                flex-flow: wrap row;
                align-items: center;
                justify-content: space-around;
                height: 350px;
                padding: 0px 0px;
                margin-top: 20px;
                margin-bottom: 20px;
            }

            .servicios-h3 {
                font-size: 11px;
                font-family: "ProductSans";
                width: 100%;
                justify-content: center;
                text-align: center;
                margin-bottom: 7px;
            }

            .servicios-imagenes img {
                margin-right: 0px;
                padding-top: 20px;
                margin-bottom: 10px;
                margin-left: 140px;
            }
            /*Parallax*/

            .parallax {
                background-image: url(../IMG/paralax.jpg);
                height: 200px;
                background-attachment: fixed;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                display: flex;
                flex-flow: wrap column;
                align-items: center;
            }

            .textoparallax {
                font-size: 17px;
                font-family: "Manrope-VariableFont_wght";
                font-weight: 300px;
                padding-top: 70px;
                color: #fff;
                text-align: center;
                width: 350px;
            }
            /*Proyecto*/

            .tituloproyecto {
                font-size: 10px;
                font-family: "ProductSans";
                font-weight: 300;
                letter-spacing: 3px;
                color: rgb(49, 49, 49);
                padding-top: 40px;
                text-align: center;
            }

            .subtituloproyecto {
                font-size: 25px;
                font-family: "ProductSans";
                font-weight: bold;
                letter-spacing: 1px;
                color: black;
                text-align: center;
                padding-bottom: 50px;
            }

            .proyecto-grid-gallery {
                display: grid;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                grid-template-columns: repeat(2, 1fr);
                gap: 10px;
                padding: 0px 75px;
                margin-bottom: 50px;
            }

            .proyecto-grid-gallery .img-box {
                position: relative;
            }

            .proyecto-grid-gallery .img-box img {
                border-radius: 3px;
                width:200px;
                height:200px;
            }

            .btn-proyectos {
                font-family: "ProductSans";
                font-size: 11px;
                letter-spacing: 2px;
                background-color: #C32908;
                color: white;
                border-radius: 10px;
                text-transform: uppercase;
                text-align: center;
                justify-content: center;
                align-content: center;
                margin: 0 140px;
                padding: 10px 20px;
                margin-bottom: 70px;
            }

            .btn-proyectos a {
                color: #fff;
                text-decoration: none;
            }
            /*footer*/

            .piedepagina {
                background-color: rgb(19, 19, 19);
                padding:  20px 0px;
            }

            .piedepagina img{
                margin-top: 20px;
            }

            .piedepagina-subtitulo {
                font-size: 30px;
                font-family: "ProductSans";
                font-weight: bold;
                font-family: "ProductSans";
                color: #fff;
                text-align: center;
                padding-bottom: 50px;
            }

            .piedepagina-cuerpo {
                display: flex;
                flex-flow: wrap row;
                justify-content: space-evenly;
                align-content: center;
                padding: 0 20px;
            }

            .piedepagina-cuerpo p {
                color: #ffffff;
                margin-bottom: 10px;
                font-family: "WorkSans-VariableFont_wght";
                font-size: 11px;
                font-weight: lighter;
                margin-top: 10px;
                margin-bottom: 10px;
            }

            .piedepagina-cuerpo a {
                color: #fff;
                text-decoration: none;
            }

            .texto {
                width: 140px;
                padding: 0px 2px;

            }

            .piedepagina-mapa {
                display: flex;
                flex-flow: wrap row;
                justify-content: center;
                align-content: center;
                margin-top:50px;

            }

            .mapa{
                width:350px;
                height: 300px;
            }
            /* ---------------------LA EMPRESA--------------*/

            .laempresa {
                background-color: #f0f1f5;
                height: 800px;
                display: flex;
               flex-direction: row;
                justify-content: center;
                margin-top: 20px;
                padding: 10px 0px;
            }

            .laempresa img {
                justify-content: center;
                margin-right: 0px;
                margin-top: 0px;
                margin-bottom: 10px;
                width:400px;
                height:220px;
            }

            .laempresa-texto {
                padding-top: 0px;
            }

            .laempresa-texto p {
                font-family: "WorkSans-VariableFont_wght";
                font-size: 12px;
                text-align: justify;
                font-weight: lighter;
                line-height: 20px;
                color: rgb(52, 52, 52);
                margin-left: 20px;
                margin-top: 10px;
                width: 350px;
            }

            .laempresa-texto h2 {
                font-family: "ProductSans";
                font-weight: bolder;
                font-size: 15px;
                color: #C32908;
                margin-left: 20px;
                margin-top: 0px;
            }
            /* MISION - VISION */

            .visionmision {
                background-color: #ffffff;
                height: 350px;
                display: flex;
                flex-flow: wrap row;
                justify-content: space-between;
                align-items: flex-start;
                padding-left: 50px;
                padding-right: 50px;
                padding-top: 30px;
            }

            .mision p {
                width:380px;
                text-align: justify;
                font-family: "WorkSans-VariableFont_wght";
                font-size: 12px;
                font-weight: lighter;
                line-height: 17px;
                color: rgb(52, 52, 52);
            }

            .visionmision h2 {
                font-family: "ProductSans";
                font-weight: bold;
                font-size: 15px;
                color: #C32908;
                margin-bottom: 10px;
            }
            /* VALORES */

            .valores {
                flex-direction: column;
               background-image: none;
               background-color: #C32908;
                height: 500px;
                display: flex;
                flex-flow: wrap row;
                justify-content: space-evenly;
                justify-items: center;
                align-items: center;
            }

            .valores img {
                display:none;
                margin-top: 0px;
                margin-right: 40px;

            }

            .valores h2 {
                margin-top: 50px;
                font-family: "ProductSans";
                font-weight: bold;
                font-size: 15px;
                color: #fffefe;
            }

            .valores-texto {
                display: flex;
                flex-flow: wrap row;
                justify-content: center;
                justify-items: center;
                font-family: "WorkSans-VariableFont_wght";
            }

            .valores-items p {
                width:250px;
                text-align:left;
                font-family: "WorkSans-VariableFont_wght";
                font-size: 12px;
                font-weight: lighter;
                line-height: 15px;
                color: rgb(255, 255, 255);
                padding-left: 0px;
                padding-top: 10px;
                margin-right: 0px;
            }

            .valores-items-elementos p {
                width:250px;
                text-align:left;
                font-family: "WorkSans-VariableFont_wght";
                font-size: 12px;
                font-weight: lighter;
                line-height: 15px;
                color: rgb(255, 255, 255);
                padding-top: 10px;
            }

            .valores-items-elementos {
                margin-top: 0px;
            }
            /* ---------------- OBRAS Y SERVICIOS --------------*/

            .obras-servicios {
                background-image: url(../IMG/Ftorevista3-1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                height: 500px;
            }

            .obras-servicios-h2 {
                color: #fff;
                padding-top: 20px;
                font-family: "ProductSans";
                font-size: 20px;
                margin-bottom: 10px;
            }

            .obras-servicios-h1 {
                color: #fff;
                padding-top: 20px;
                font-family: "ProductSans";
                font-size: 15px;
                margin-bottom: 10px;
            }

            .obras-servicios-ul {
                background-color: #C32908;
                color: #fff;
                width: 400px;
                height: 500px;
                padding-top: 200px;
                margin-left: 40px;
                display: flex;
                flex-flow: wrap column;
                justify-content: start;
                padding: 50px 50px;
                font-family: "WorkSans-VariableFont_wght";
                font-size: 12px;
                margin-bottom: 10px;
            }

            .obras-servicios-ul il {
                padding-bottom: 10px;
            }

            .container {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin-top: 100px;
                margin-bottom: 50px;
            }

            .container-grid-galery {
                display: grid;
                grid-template-columns: 1fr ;
                grid-template-rows: 1fr ;
                gap: 50px;
                align-items: center;
            }

            .container-grid-galery .img-boxob img {
                width: 400px;
                height: auto;
                border-radius: 2px;
                padding-bottom: 10px;
            }

            .container-grid-galery span {
                color: #C32908;
                font-size: 14px;
            }

            .container-grid-galery p {
                width: 400px;
                font-size: 12px
            }
            /* ---------------- CLIENTES --------------*/

            .clientes {
                display: flex;
                flex-flow: wrap row;
                justify-content: center;
                align-content: center;
                align-items: center;
                height: 586px;
                padding-top: 30px;
                background-color: #f4f3f3;
            }


            .clientes-texto h1 {
                color: #C32908;
                font-family: "ProductSans";
                font-size: 30px;
                margin-bottom: 10px;
                text-align: center;
            }

            .clientes-texto p {
                color: #3e3e3e;
                font-family: "WorkSans-VariableFont_wght";
                font-size: 12px;
                width: 350px;
                text-align: center;
            }
.clientes-texto h4{
align-items: center;
text-align: center;
justify-content: center;
margin-left: 120px
}
            .btn-clientes {
                font-family: "ProductSans";
                font-size: 12px;
                letter-spacing: 2px;
                background-color: #C32908;
                color: #fff;
                border-radius: 10px;
                text-transform: uppercase;
                margin-top: 20px;
                padding: 10px;
                width: 130px;
            }

            .btn-clientes a {
                color: #fff;
                text-decoration: none;
                padding: none;
            }

            .btn-clientes :hover {
                font-family: "ProductSans";
                font-size: 12px;
                letter-spacing: 2px;
                background-color: #C32908;
                color: #fff;
                border-radius: 10px;
                text-transform: uppercase;
                margin-top: 20px;
                padding: 10px;
                width: 130px;
            }

            .clientes-logos {
                width: 400px;
            }

            .clientes-logos img {
                width: 100px;
                height: auto;
                margin: 10px 10px;
            }
              /* ---------------- CONTACTO --------------*/




        .contacto-cuerpo-mapa{
            margin-top: 0px;
        }

        .contacto-cuerpo {
            margin-top: 0px;
            background-color: rgb(241, 241, 241);
            padding: 30px;
            height: 40px;
            padding-left: 50px;
            padding-top: 100px;
           padding-bottom: 150px;
            display: flex;
            flex-flow: wrap row;
            justify-content: start;
            align-content: center;

        }

        .cto-item{
            padding: 20px 20px;
        }

        .texto-cto {
            color: #3e3e3e;
            margin-bottom: 10px;
            font-family: "WorkSans-VariableFont_wght";
            font-size: 12px;
            font-weight: lighter;
            margin-top: 10px;
        }

        .texto-cto a {
            color: #3e3e3e;
            text-decoration: none;
        }

        .contacto-mapa {
            background-color: rgb(241, 241, 241);
            display: flex;
            flex-flow: wrap row;
            justify-content: space-between;
            padding: 0px 50px;


        }
        .mapacont{
            display: none;
            margin-top: 50px;
            width:800px;
            height:350px;
            margin-left: 40px;
        }



        /*form*/

        .form-style-9{
            max-width: 450px;
            background: #FAFAFA;
            padding: 50px 30px;
            margin: 50px auto;
            border-radius: 10px;
            border: 1px solid #2a2a2a;
        }
        .form-style-9 ul{
            padding:0;
            margin:0;
            list-style:none;
        }
        .form-style-9 ul li{
            display: block;
            margin-bottom: 10px;
            min-height: 35px;
        }
        .form-style-9 ul li  .field-style{
            box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -moz-box-sizing: border-box;
            padding: 8px;
            outline: none;
            border: 1px solid #cacaca;


        }.form-style-9 ul li  .field-style:focus{
            box-shadow: 0 0 5px #B0CFE0;
            border:1px solid #B0CFE0;
        }
        .form-style-9 ul li .field-split{
            width: 49%;
        }
        .form-style-9 ul li .field-full{
            width: 100%;
        }
        .form-style-9 ul li input.align-left{
            float:left;
        }
        .form-style-9 ul li input.align-right{
            float:right;
        }
        .form-style-9 ul li textarea{
            width: 100%;
            height: 100px;
        }
        .form-style-9 ul li input[type="button"],
        .form-style-9 ul li input[type="submit"] {

            background-color: #C32908;
            border: 1px solid#C32908;
            display: inline-block;
            cursor: pointer;
            color: #FFFFFF;
            padding: 8px 18px;
            text-decoration: none;
            font: 12px Arial, Helvetica, sans-serif;
        }
        .form-style-9 ul li input[type="button"]:hover,
        .form-style-9 ul li input[type="submit"]:hover {
            background: linear-gradient(to bottom, #C32908 5%, #C32908 100%);
            background-color: #C32908;
        }
        }