/*variables scss*/
$font-family:"WorkSans-VariableFont_wght";
ul{
    list-style: none;
}

li a{
    text-decoration:none;
}


p{
    font-family: $font-family;
}

h1 h2 {
    font-family:"ProductSans" ;
}