/*variables scss*/

@import "fonts";


@mixin flex-row {
    display:flex;
    flex-flow: wrap row;

}

.servicios-imagenes, .slide {
    @include flex-row; }


ul{
    list-style: none;
}

li a{
    text-decoration:none;
    font-family: $font-family-2 ;
}


p{
    font-family: $font-family;
}

h1 h2  h3{
    font-family: $font-family-2;
}